@import url("https://fonts.googleapis.com/css2?family=Vibur&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

span {
  color: #baffc9;
  font-family: "Vibur", cursive;
}

.heading {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 300%;
  font-weight: 300;
  text-align: left;
}

.text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 850px) {
  .heading {
    font-size: 250%;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 200%;
  }
}
/*
@media screen and (max-width: 505px) {
    h1 {
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 200%;
        font-weight: 300;
        text-align: left;
    }

    .about {
        display: flex;
        justify-content: center;
    }
}*/
