@import url("https://fonts.googleapis.com/css2?family=Vibur&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

span {
    color: #c6e2ff;
    font-family: "Vibur", cursive;
    animation: neon 0.08s ease-in-out infinite alternate;
}

.heading {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 300%;
    font-weight: 300;
    text-align: left;
}

.text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 850px) {
    .heading {
        font-size: 250%;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 200%;
    }
}
/*
@media screen and (max-width: 505px) {
    h1 {
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 200%;
        font-weight: 300;
        text-align: left;
    }

    .about {
        display: flex;
        justify-content: center;
    }
}*/

@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
            0 0 30px rgba(202, 228, 225, 0.34),
            0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92),
            0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
            0 0 30px rgba(202, 228, 225, 0.42),
            0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84),
            0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px rgba(30, 132, 242, 1);
    }
}
