@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vibur&display=swap");

body {
  background: #0a0a0a;
  font: optional;
}

.Main-Header {
  color: #baffc9;
  font-size: 800%;
  font-family: "Vibur", cursive;
  /*font-family: "Roboto", sans-serif;*/
  font-weight: 400;
  margin: 0;
  width: 98%;
  position: absolute;
  top: 45%;
  text-align: center;
  animation: neon 0.08s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/

@media screen and (max-width: 650px) {
  .Main-Header {
    color: #c6e2ff;
    font-size: 600%;
    font-family: "Vibur", cursive;
    /*font-family: "Roboto", sans-serif;*/
    font-weight: 400;
    margin: 0;
    width: 98%;
    position: absolute;
    top: 45%;
    text-align: center;
    animation: neon 0.08s ease-in-out infinite alternate;
  }
}

@media screen and (max-width: 470px) {
  .Main-Header {
    color: #c6e2ff;
    font-size: 400%;
    font-family: "Vibur", cursive;
    /*font-family: "Roboto", sans-serif;*/
    font-weight: 400;
    margin: 0;
    width: 98%;
    position: absolute;
    top: 45%;
    text-align: center;
    animation: neon 0.08s ease-in-out infinite alternate;
  }
}

/*
.Navbar-links {
    top: 50px;
    width: 100%;
    text-align: center;
    color: white;
    margin: 32px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    justify-content: center;
    text-decoration: none;
}

.Footer-links {
    opacity: 0.3;
    color: white;
    text-align: center;
    position: fixed;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 32px;
    width: 100%;
}

.Navbar-Links {
  margin: 32px auto 0;
  text-align: center;
}
.Navbar-Links a {
  text-decoration: none;
  color: white;
  margin-left: 8px;
  margin-right: 8px;
}

.Footer-links {
    color: aquamarine;
  position: absolute;
  bottom: 32px;
  right: 0;
  left: 0;
  text-align: center;
}

.Footer-links a {
  text-decoration: none;
  color: white;
  opacity: 0.3;
  margin-left: 8px;
  margin-right: 8px;
}

.Footer-links a:hover {
    opacity: 1;
}

.Navbar-Links a:hover {
  opacity: 1;
}*/
