@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    
    background: #0A0A0A;
    color: white;
    font: optional;
}

.Main-Header {
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
}
/*
.Navbar-links {
    top: 50px;
    width: 100%;
    text-align: center;
    color: white;
    margin: 32px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    justify-content: center;
    text-decoration: none;
}

.Footer-links {
    opacity: 0.3;
    color: white;
    text-align: center;
    position: fixed;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 32px;
    width: 100%;
}

.Navbar-Links {
  margin: 32px auto 0;
  text-align: center;
}
.Navbar-Links a {
  text-decoration: none;
  color: white;
  margin-left: 8px;
  margin-right: 8px;
}

.Footer-links {
    color: aquamarine;
  position: absolute;
  bottom: 32px;
  right: 0;
  left: 0;
  text-align: center;
}

.Footer-links a {
  text-decoration: none;
  color: white;
  opacity: 0.3;
  margin-left: 8px;
  margin-right: 8px;
}

.Footer-links a:hover {
    opacity: 1;
}

.Navbar-Links a:hover {
  opacity: 1;
}*/